# API Settings
API_HOST=0.0.0.0
API_PORT=8000

# OpenAI Configuration (Required) 
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-proj-your-key-here

# Logging
LOG_LEVEL=INFO

# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=XXXXXXXXX
LANGSMITH_PROJECT=HealthPilot